@import "./reset.scss";

body {
  /* 背景渐变 */
  font-family: "OPPO Sans", sans-serif;
  //background: black;
}


@keyframes animate {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dark::view-transition-old(root) {
  z-index: 100;
}

